name: Main workflow

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [ "3.6.7", "3.7", "3.8", "3.9", "3.10.0-rc.2" ]


    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools
          pip install tox tox-gh-actions
      - name: Test with tox
        run: |
          tox
  build-and-publish-to-test-pypi:
    name: Build and publish Python distributions to TestPyPI
    needs:
      - test
    if: "env.ACT != 'true'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.12
      - name: Install pypa/build
        run: |
          python -m pip install build --user

      - name: TESTPYPI Build a binary wheel and a source tarball
        run: |
          GITHUB_RUN_NUMBER=${{ github.run_number }} python -m build --sdist --wheel --outdir dist/
      - name: TESTPYPI Publish distribution
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

  build-and-publish-to-pypi:
    name: Build and publish Python distributions to PyPI
    needs:
      - build-and-publish-to-test-pypi
      - test
    if: "env.ACT != 'true && startsWith(github.ref, 'refs/tags/v')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.12
      - name: Install pypa/build
        run: |
          python -m pip install build --user
      - name: PYPI Build a binary wheel and a source tarball
        run: |
          rm -rf dist/ && python -m build --sdist --wheel --outdir dist/
      - name: PYPI Publish distribution
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}